<input type="hidden" name="_csrf" value="{{csrfToken}}">
<label for="title">Titulo del libro</label>
<input type="text" name="title" value="{{book.title}}" placeholder="titulo"/>
<label for="author">Autor</label>
<input type="text" name="author" value="{{book.author}}" placeholder="autor"/>
<input type="submit" value="Enviar" class="btn btn-primary"/>