<div class="card mt-5">
  <div class="card-header">
    Libro
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.author}}</p>
    <a href="/book/delate/{{item._id}}" class="btn btn-danger">Eliminar</a>
    <a href="/book/edit/{{item._id}}" class="btn btn-primary">Editar</a>
  </div>
</div>